@import '../../common/scss/reset';
@import '../../common/scss/header';

.b-project {
    padding: 20px;
    font-size: 32px;
    color: var(--text-color);

    &__stats {
        margin-top: 20px;

        &-title {
            font-size: 24px;
        }
    }
}

.b-project-stats-info {
    margin-top: 10px;

    &__item {
        font-size: 18px;
    }
}

.b-project-canvas {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
