<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <% css.forEach(stylesheet => { %>
        <link rel="stylesheet" href="<%= stylesheet %>">
        <% }) %>
    </head>
    <body>
        <header class="b-header">
            <div class="b-header__container">
                <div class="b-header__brand">
                    <a class="b-header__logo">
                        <svg class="b-header__logo-image">
                            <path data-name="Path 14262" d="M84.244 3.838L71.589 9.1l.872 17.816 22.546-1.514V7.884z" fill="#fff"></path><g data-name="Group 4624"><path data-name="Path 6771" d="M86.658 18.783v2.683c0 .8.1 1.689.8 1.689 1.193 0 2.484-.2 2.484-.4v-5.062a6.919 6.919 0 00-2.484-.5c-.7 0-.8.8-.8 1.59z" fill="inherit"></path><path data-name="Path 6772" d="M95.603 4.969L83.971 0 72.05 4.969c-3.379.994-3.379 3.478-3.379 6.161v15.8a2.863 2.863 0 002.882 2.783h23.851a2.8 2.8 0 002.882-2.783v-15.9c.099-2.483.099-5.167-2.683-6.061zM78.808 16.6c2.683 0 4.075 1.193 4.075 4.075v.2c0 3.081-2.186 3.975-4.77 3.975a19.582 19.582 0 01-3.379-.4c-.3-.1-.4-.3-.3-.4.1-.4.4-1.193.6-1.193a26.788 26.788 0 002.783.4c1.689 0 2.882-.5 2.882-2.385 0-1.59-.4-2.286-2.385-2.286-.4 0-1.093 0-1.292.4-.3.2-.4.3-.6.3h-.994c-.3 0-.4-.1-.4-.4v-5.172c.1-.8.8-1.093 1.888-1.093h5.565a.364.364 0 01.4.4c0 .2-.1 1.292-.4 1.292h-5.462v2.882a2.593 2.593 0 011.789-.595zm13.217 6.758a.665.665 0 01-.4.7 12.5 12.5 0 01-4.571.7c-1.888 0-2.385-1.193-2.385-3.18v-2.895c0-1.59.1-3.18 2.385-3.18a5.881 5.881 0 012.882.7v-3.781c0-.6.6-.4.6-.4l.994.4c.4.1.4.4.4.8l.1 10.137zm1.689-13.019c-.1.3-.4 1.391-.7 1.292L83.578 7.95l-9.54 3.876c-.2.1-.5-1.093-.7-1.292-.2-.3 0-.4.3-.5l9.838-4.075 6.46 2.484V7.255c0-.2.2-.3.4-.3l1.193.4c.4.2.4.2.4.6v1.088l1.491.7a.417.417 0 01.3.6z" fill="inherit"></path><path data-name="Path 6773" d="M0 10.537c0-.4.7-.5 1.193-.5h3.776c3.776 0 4.969.994 4.969 4.174v.4c0 3.279-1.193 4.174-4.969 4.174H1.888v5.366a.469.469 0 01-.5.5c-.4 0-1.292-.1-1.292-.4V10.537zm1.888 1.09v5.466h3.081c2.484 0 3.081-.5 3.081-2.584v-.4c0-2.087-.6-2.584-3.081-2.584l-3.081.1z" fill="currentColor"></path><path data-name="Path 6774" d="M16.397 23.851c.1.3-.1.4-.4.5a11.555 11.555 0 01-1.789.4c-1.193 0-2.286-.6-2.286-2.584V9.841c0-.3.894-.4 1.193-.4.4 0 .4.2.4.6v11.822c0 .8.3 1.193 1.093 1.193a3.531 3.531 0 00.994-.2c.398.001.696.597.795.995z" fill="currentColor"></path><path data-name="Path 6775" d="M25.044 22.956c0 1.093-3.081 1.689-5.366 1.689s-2.684-1.491-2.684-3.279c0-1.59.4-3.081 2.683-3.081a10.812 10.812 0 013.578.6V17.49c0-1.391-.4-1.988-1.193-2.286a8.549 8.549 0 00-1.59-.1 8.7 8.7 0 00-1.59.2c-.4.1-.6-.5-.7-.7a.6.6 0 01-.1-.4.214.214 0 01.2-.2 13.421 13.421 0 012.783-.4c2.683 0 3.876 1.193 3.876 3.975l.1 5.366zm-1.69-2.684c-.2-.4-1.59-.8-3.18-.8-1.193 0-1.491.8-1.491 1.888s.3 1.888 1.491 1.888a4.915 4.915 0 003.18-.8z" fill="currentColor"></path><path data-name="Path 6776" d="M33.988 17.887c0-1.193 0-2.683-1.292-2.683-1.689 0-3.478.5-3.478.894v8.05a.427.427 0 01-.4.4h-.1c-.4 0-1.193-.1-1.193-.4v-8.845c0-.7 2.385-1.689 5.466-1.689 2.584 0 2.683 1.888 2.683 3.677v6.758c0 .3-.2.4-.5.4s-1.193-.1-1.193-.4v-6.162z" fill="currentColor"></path><path data-name="Path 6777" d="M44.82 17.887c0-1.193 0-2.683-1.292-2.683-1.689 0-3.478.5-3.478.894v8.05a.427.427 0 01-.4.4h-.1c-.4 0-1.193-.1-1.193-.4v-8.845c0-.7 2.385-1.689 5.466-1.689 2.584 0 2.683 1.888 2.683 3.677v6.758c0 .3-.2.4-.5.4s-1.193-.1-1.193-.4v-6.162z" fill="currentColor"></path><path data-name="Path 6778" d="M52.969 24.645c-2.882 0-4.075-1.689-4.075-4.969v-1.689c0-2.783.894-4.373 4.174-4.373h.4c2.882 0 3.279 1.789 3.279 3.578v.8c0 .8-.8 1.59-5.963 1.689 0 2.484.5 3.478 2.286 3.478a12.528 12.528 0 002.783-.4c.3-.1.4.6.5.994s-.1.4-.4.4a9.368 9.368 0 01-2.984.492zm1.988-7.851c0-1.193-.5-1.789-1.59-1.789-1.689 0-2.683.4-2.683 2.683v.894c2.385 0 4.174-.2 4.174-.8v-.988z" fill="currentColor"></path><path data-name="Path 6779" d="M63.602 15.204c-1.193 0-2.783.6-2.783.894v8.05a.427.427 0 01-.4.4h-.1c-.4 0-1.193-.1-1.193-.4v-8.845c0-.6 2.385-1.689 4.472-1.689a4.838 4.838 0 011.193.1c.4 0 .5.2.4.4-.1.4-.4 1.193-.6 1.193a3.381 3.381 0 00-.989-.103z" fill="currentColor"></path></g>
                        </svg>
                    </a>
                </div>
            </div>
        </header>
        <main>
            <%- content %>
        </main>
        <% js.forEach(javascript => { %>
        <script src="<%= javascript %>"></script>
        <% }) %>
    </body>
</html>
